<app-navbar></app-navbar>

<div class="container mt-4 animate__animated animate__fadeIn animate__faster">

 	<main class="container">

    <h1>{{ editUserTitle }}</h1>
        <section role="main">

            <div class="row d-flex">
                <form
                    class="col-12"
                    id="form-register"
                    role="form"
                    autocomplete="off"
                    *ngIf="profileForm"
                    [formGroup]="profileForm"
                    (ngSubmit)="updateProfile()">

                    <div class="card my-2 mr-2 p-4">

                            <h2>
                                <strong>{{ editUserTitle }}</strong>
                            </h2>

                            <div class="panel-body" *ngIf="usuario">

                                <fieldset class="p-4 mb-2">
                                    <legend class="mb-0 px-2"><strong>Informacion de usuario</strong></legend>

                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label>Perfil de Usuario</label>
                                                <input class="form-control" disabled value="{{ usuario.displayRol }}">
                                            </div>

                                            <div class="form-group">
                                                <label for="email">Correo electrónico</label>
                                                <input name="email" type="email" id="email" [readOnly]="usuario.origin_login !== 'Portal ApS'" class="form-control" autocorrect="off" autocapitalize="none" spellcheck="false" placeholder="Introduzca su Usuario"  formControlName="email">
                                            </div>
                                        </div>

                                        <div class="col">
                                            <div class="border m-2 p-2">
                                                <div class="d-flex justify-content-between">
                                                    <p class="text-decoration-underline font-weight-bold">Imagen de perfil</p>
                                                    <span class="remove-image-btn" aria-label="Borrar Imagen" *ngIf="!this.imagenPreview && usuario.origin_img != '' && !usuario.origin_img.includes('https')" (click)="borrarImagen()">borrar actual</span>
                                                </div>

                                                <div class="d-flex justify-content-between">
                                                    <div class="text-center ml-4">
                                                        <img *ngIf="this.imagenPreview" [src]="this.imagenPreview" class="rounded-circle" width="96" height="96" />
                                                        <img *ngIf="!this.imagenPreview" [src]="usuario.imagenUrl" class="rounded-circle" width="96" height="96" />

                                                    </div>

                                                    <div class="d-flex flex-column justify-content-between w-50">

                                                        <div class="form-group">
                                                            <label for="file-upload" class="custom-file-upload">
                                                                <i class="fa fa-cloud-upload"></i> Subir imagen
                                                            </label>
                                                            <input id="file-upload" type="file" (input)="cambiarImagen($event.target.files[0])"/>
                                                        </div>

                                                        <button type="button" class="btn btn-secondary btn-sm" [disabled]="!imagenSubir" (click)="actualizarImagen()">Actualizar Imagen</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col mr-2">
                                            <label for="password">Contraseña (vacía si no se quiere modificar)</label>
                                            <input name="password" type="password" id="password" class="form-control" autocorrect="off" autocapitalize="none" spellcheck="false" placeholder="Introduzca su Contraseña" formControlName="password">
                                        </div>

                                        <div class="col ml-2">
                                            <label for="password_2">Repetir Contraseña</label>
                                            <input name="password_2" type="password" id="password_2" class="form-control" autocorrect="off" autocapitalize="none" spellcheck="false" placeholder="Introduzca su Contraseña" formControlName="password_2">
                                        </div>
                                    </div>
                                </fieldset>


                                <fieldset class="p-4 mb-2">
                                    <legend class="mb-0 px-2"><strong>Informacion personal</strong></legend>


                                    <div class="d-flex">
                                        <div class="form-group flex-fill mr-2">
                                            <label for="nombre">Nombre</label>
                                            <input name="nombre" type="text" id="nombre" class="form-control" autocorrect="off" autocapitalize="none" spellcheck="false" placeholder="Introduzca su Nombre" formControlName="nombre">
                                        </div>

                                        <div class="form-group flex-fill ml-2">
                                            <label for="apellidos">Apellidos</label>
                                            <input name="apellidos" type="text" id="apellidos" class="form-control" autocorrect="off" autocapitalize="none" spellcheck="false" placeholder="Introduzca sus Apellidos" formControlName="apellidos">
                                        </div>
                                    </div>

                                </fieldset>


                                <fieldset class="p-4 mb-2" *ngIf="usuario.rol !== ''">
                                    <legend class="mb-0 px-2"><strong>Informacion de perfil</strong></legend>
                                    <div class="form-group" *ngIf="['ROL_GESTOR', 'ROL_ESTUDIANTE', 'ROL_PROFESOR'].includes(usuario.rol)">
                                        <label for="universidad">Universidad</label>
                                        <input name="universidad" type="text" id="universidad" class="form-control" autocorrect="off" autocapitalize="none" spellcheck="false" placeholder="Introduzca su universidad" formControlName="universidad">
                                    </div>

                                    <div class="form-group" *ngIf="['ROL_GESTOR', 'ROL_ESTUDIANTE', 'ROL_PROFESOR'].includes(usuario.rol)">
                                        <label for="titulacion">
                                            <ng-container *ngIf="usuario.rol === 'ROL_ESTUDIANTE'; else elseTemplate">
                                                Titulación
                                            </ng-container>
                                            <ng-template #elseTemplate>
                                                Facultad / Escuela
                                            </ng-template>
                                        </label>
                                        <input name="titulacion" type="text" id="titulacion" class="form-control" autocorrect="off" autocapitalize="none" spellcheck="false" placeholder="Introduzca su titulación" formControlName="titulacion">
                                    </div>

                                    <div class="form-group" *ngIf="['ROL_GESTOR', 'ROL_ENTIDAD'].includes(usuario.rol)">
                                        <label for="sector">Sector</label>
                                        <input name="sector" type="text" id="sector" class="form-control" autocorrect="off" autocapitalize="none" spellcheck="false" placeholder="Introduzca su sector" formControlName="sector">
                                    </div>

                                    <div class="form-group" *ngIf="['ROL_GESTOR', 'ROL_ENTIDAD'].includes(usuario.rol)">
                                        <label for="nombreEntidad">Nombre entidad</label>
                                        <input name="nombreEntidad" type="text" id="nombreEntidad" class="form-control" autocorrect="off" autocapitalize="none" spellcheck="false" placeholder="Introduzca el nombre de la entidad" formControlName="nombreEntidad">
                                    </div>
                                </fieldset>

                                <div class="d-flex">
                                     <div class="flex-fill alert alert-danger mr-3" role="alert" *ngIf="this.profileForm.invalid">
                                        <div *ngIf="campoNoValido('rol')" class="col">{{ campoNoValido('rol') }}</div>
                                        <div *ngIf="campoNoValido('email')" class="col">{{ campoNoValido('email') }}</div>
                                        <div *ngIf="campoNoValido('password')" class="col">{{ campoNoValido('passwordsCoinciden') }}</div>
                                        <div *ngIf="passwordsNoCoinciden()" class="col">Las contraseñas no coinciden</div>
                                        <div *ngIf="campoNoValido('nombre')" class="col">{{ campoNoValido('nombre') }}</div>
                                        <div *ngIf="campoNoValido('apellidos')" class="col">{{ campoNoValido('apellidos') }}</div>
                                        <div *ngIf="campoNoValido('universidad')" class="col">{{ campoNoValido('universidad') }}</div>
                                        <div *ngIf="campoNoValido('titulacion') && ['ROL_ESTUDIANTE'].includes(usuario.rol)" class="col">{{ campoNoValido('titulacion') }}</div>
                                        <div *ngIf="campoNoValido('facultad') && ['ROL_PROFESOR'].includes(usuario.rol)" class="col">{{ campoNoValido('facultad') }}</div>
                                        <div *ngIf="campoNoValido('sector')" class="col">{{ campoNoValido('sector') }}</div>
                                        <div *ngIf="campoNoValido('nombreEntidad')" class="col">{{ campoNoValido('nombreEntidad') }}</div>
                                    </div> 

                                    <div class="ml-auto mb-2">
                                         <input type="submit" value="Actualizar Perfil" class="btn btn-default btn-primary" [disabled]="profileForm.invalid">
                                    </div>
                                </div>

                            </div>

                    </div>
                </form>

            </div>

        </section>
 	</main>

</div>
<app-footer></app-footer>
