<app-navbar></app-navbar>
<div class="container mt-4 animate__animated animate__fadeIn animate__faster">
    <h1>Formulario de registro</h1>

 	<main class="container">
        <section role="main">

            <div class="row d-flex">
                <form
                    class="col-12"
                    id="form-register"
                    role="form"
                    autocomplete="off"
                    [formGroup]="registerForm"
                    (ngSubmit)="register()">

                    <div class="card my-2 mr-2 p-4">

                            <h2>
                                <strong>Selección de perfil de usuario</strong>
                                <a class="float-right" href="http://www.uned.es" title="Acceso a página Principal de la UNED"><img src="/assets/img/logo-uned.jpg" id="img_cabecera" class="img-responsive pull-left" alt="Logo Universidad Nacional a Distancia" width="36" height="36"></a>
                            </h2>

                            <div class="panel-body">

                                <p>En esta página puedes registrarte dentro de la aplicación <b>Portal ApS</b>.</p>
                                <p>Si deseas utilizar tu cuenta de la UNED, no es necesario que te registres, entra en la pantalla <a href="javascript:void(0)" [routerLink]="['/login']"><span class="glyphicon glyphicon-log-in"></span> Login</a> y utiliza el SSO de la UNED.</p>
                                <p>Si deseas utilizar tu cuenta de la Google como Estudiante, no es necesario que te registres, entra en la pantalla <a href="javascript:void(0)" [routerLink]="['/login']"><span class="glyphicon glyphicon-log-in"></span> Login</a> y utiliza el SSO de la Google.</p>

                                <fieldset class="p-4 mb-2">
                                    <legend class="mb-0 px-2"><strong>Informacion de usuario</strong></legend>

                                    <div class="form-group">
                                        <label>Perfil de Usuario (<a href="javascript:void(0)" target="_blank" [routerLink]="['/como-participar/estudiantes']">Estudiantes</a>, <a href="javascript:void(0)" target="_blank" [routerLink]="['/como-participar/profesores']">Profesores</a>, <a href="javascript:void(0)" target="_blank" [routerLink]="['/como-participar/entidades']">Entidades</a>)</label>
                                        <select class="form-control" formControlName="rol">
                                            <option value="">Elegir un tipo de perfil</option>
                                            <option *ngFor="let role of roles; let i = index" [value]="roles[i].id">{{roles[i].name}}</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="email">Correo electrónico (se usará como login)</label>
                                        <input name="email" type="email" [class.is-invalid] = "registerForm.get('email').invalid && registerForm.get('email').touched" id="email" class="form-control" autocorrect="off" autocapitalize="none" spellcheck="false" placeholder="Introduzca su Correo" formControlName="email">
                                        <div *ngIf="(primEmail.invalid && primEmail.touched) || primEmail.dirty">
                                            <small *ngIf="primEmail.errors?.required" class="text-danger">El email es un campo requerido</small>
                                            <!--question mark(?) is a safe navigation operator-->
                                            <small *ngIf="primEmail.errors?.pattern" class="text-danger">Por favor introduzca un mail valido </small>
                                          </div>
                                    </div>

                                    

                                    <div class="d-flex">
                                        <div class="form-group flex-fill mr-2">
                                            <label for="password">Contraseña</label>
                                            <input name="password" type="password" [class.is-invalid] = "registerForm.get('password').invalid && registerForm.get('password').touched"  id="password" class="form-control" autocorrect="off" autocapitalize="none" spellcheck="false" placeholder="Introduzca su Contraseña" formControlName="password">
                                            <div id="mensajePassword" *ngIf="(GetPassword.invalid && GetPassword.touched)">
                                                <small *ngIf="GetPassword.errors?.required" class="text-danger"> La contraseña es un campo requerido</small>
                                                <small  *ngIf="GetPassword.errors?.pattern" class="text-danger">Por favor introduzca una contraseña valida: Debe contener al menos un número, una mayuscula ,una minuscula y al menos un caracter especial </small>
                                              </div>
                                        </div>

                                        <div class="form-group flex-fill ml-2">
                                            <label for="password_2">Repetir Contraseña</label>
                                            <input name="password_2" type="password" id="password_2" class="form-control" autocorrect="off" [class.is-invalid] = "registerForm.get('password_2').invalid && registerForm.get('password_2').touched " autocapitalize="none" spellcheck="false" placeholder="Repita su Contraseña" formControlName="password_2">
                                            <div *ngIf="(GetPasswordConfirm.invalid && GetPasswordConfirm.touched)">
                                            <small *ngIf="GetPasswordConfirm.errors?.required" class="text-danger">Confirmar contraseña es un campo requerido</small>
                                            </div>
                                            <div *ngIf="registerForm.errors">
                                                <small class="text-danger" *ngIf="registerForm.errors['password-mismatch']">
                                                    Las contraseñas no coinciden.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>


                                <fieldset class="p-4 mb-2">
                                    <legend class="mb-0 px-2"><strong>Informacion personal</strong></legend>


                                    <div class="d-flex">
                                        <div class="form-group flex-fill mr-2">
                                            <label for="nombre">Nombre</label>
                                            <input name="nombre" type="text" id="nombre" class="form-control" autocorrect="off" autocapitalize="none" spellcheck="false" placeholder="Introduzca su Nombre" [class.is-invalid] = "registerForm.get('nombre').invalid && registerForm.get('nombre').touched" formControlName="nombre">
                                            <div *ngIf="(getNombre.invalid && getNombre.touched)">
                                                <small *ngIf="getNombre.errors?.required" class="text-danger">El nombre es un campo requerido</small>
                                              </div>
                                        </div>

                                        <div class="form-group flex-fill ml-2">
                                            <label for="apellidos">Apellidos</label>
                                            <input name="apellidos" type="text" id="apellidos" class="form-control" autocorrect="off" autocapitalize="none" spellcheck="false" placeholder="Introduzca su(s) Apellido(s)" [class.is-invalid] = "registerForm.get('apellidos').invalid && registerForm.get('apellidos').touched" formControlName="apellidos">
                                            <div *ngIf="(getApellidos.invalid && getApellidos.touched)">
                                                <small *ngIf="getApellidos.errors?.required" class="text-danger">El apellido es un campo requerido</small>
                                              </div>
                                        </div>
                                    </div>

                                </fieldset>

                                <fieldset class="p-4 mb-2" *ngIf="this.registerForm.get('rol').value !== ''">
                                    <legend class="mb-0 px-2"><strong>Informacion de perfil</strong></legend>
                                    <div class="form-group" *ngIf="['ROL_ESTUDIANTE', 'ROL_PROFESOR'].includes(this.registerForm.get('rol').value)">
                                        <label for="universidad">Universidad</label>
                                        <!-- <input name="universidad" type="text" id="universidad" class="form-control" autocorrect="off" autocapitalize="none" spellcheck="false" placeholder="Introduzca su universidad" [class.is-invalid] = "registerForm.get('universidad').invalid && registerForm.get('universidad').touched" formControlName="universidad"> -->
                                        <input name="universidad" type="text" id="universidad"  list="codes"  formControlName="universidad"  class="form-control" [class.is-invalid] = "registerForm.get('universidad').invalid && registerForm.get('universidad').touched" placeholder="Introduzca su universidad">
                                        <datalist id="codes">
                                        <option *ngFor="let c of codeList" [value]="c.nombre" ></option>
                                        </datalist>
                                        <small class="text-danger" *ngIf="noListMatch()">Debe elegir una universidad valida</small>
                                       
                                    </div>
                                    

                                    <div class="form-group" *ngIf="['ROL_ESTUDIANTE', 'ROL_PROFESOR'].includes(this.registerForm.get('rol').value)">
                                        <label for="titulacion">
                                            <ng-container *ngIf="this.registerForm.get('rol').value === 'ROL_ESTUDIANTE'; else elseTemplate">
                                                Titulación
                                            </ng-container>
                                            <ng-template #elseTemplate>
                                                Facultad / Escuela
                                            </ng-template>
                                        </label>
                                        <input name="titulacion" type="text" id="titulacion" class="form-control" autocorrect="off" autocapitalize="none" spellcheck="false" placeholder="Introduzca su titulación" [class.is-invalid] = "registerForm.get('titulacion').invalid && registerForm.get('titulacion').touched"  formControlName="titulacion">
                        
                                    </div>

                                    <div class="form-group" *ngIf="['ROL_ENTIDAD'].includes(this.registerForm.get('rol').value)">
                                        <label for="sector">Sector</label>
                                        <input name="sector" type="text" id="sector" class="form-control" autocorrect="off" autocapitalize="none" spellcheck="false" placeholder="Introduzca su sector" [class.is-invalid] = "registerForm.get('sector').invalid && registerForm.get('sector').touched"  formControlName="sector">
                                       
                                    </div>

                                    <div class="form-group" *ngIf="['ROL_ENTIDAD'].includes(this.registerForm.get('rol').value)">
                                        <label for="nombreEntidad">Nombre entidad</label>
                                        <input name="nombreEntidad" type="text" id="nombreEntidad" class="form-control" autocorrect="off" autocapitalize="none" spellcheck="false" placeholder="Introduzca el nombre de la entidad" [class.is-invalid] = "registerForm.get('nombreEntidad').invalid && registerForm.get('nombreEntidad').touched"  formControlName="nombreEntidad">
                                       
                                    </div>
                                </fieldset>

                                <div class="form-check text-left ml-1 mb-2">
                                    <input type="checkbox" class="form-check-input" id="terminos_aceptados" formControlName="terminos_aceptados">
                                    <label class="form-check-label">Acepto las <a href="javascript:void(0)" target="_blank" [routerLink]="['/registro/condiciones-de-uso']">Condiciones de Uso</a></label>
                                </div>

                                <div class="d-flex">
                                    <div class="flex-fill alert alert-danger mr-3" role="alert" *ngIf="this.registerForm.invalid && this.formSubmitted">
                                        <div class="col">Debes completar/seleccionar correctamente todos los campos</div>
                                        <div *ngIf="passwordsVacias()" class="col">Las contraseñas están en blanco</div>
                                        
                                    </div>

                                    <div class="ml-auto mb-2">
                                        <input type="submit" value="Registrarse" class="btn btn-default btn-primary">
                                    </div>
                                </div>

                            </div>

                    </div>
                </form>

            </div>

        </section>
 	</main>

</div>
<app-footer></app-footer>

