<app-navbar></app-navbar>
<div class="container mt-4 animate__animated animate__fadeIn animate__faster">
    <h5
        class="px-4 py-2 mb-4 text-white display-block bg-secondary d-flex justify-content-between align-items-center"
    >
        <b>Ver Demanda</b>
        <a
            class="btn btn-primary border-white btn-sm"
            [routerLink]="['/demandas']"
            role="button"
            >Volver</a
        >
    </h5>

    <div
        class="alert alert-warning"
        role="alert"
        *ngIf="!this.usuarioService.usuario"
    >
        <b>Atención: </b> Estás en la aplicación como <b>INVITADO</b>. Sólo
        Profesores pueden presentar OFERTAS.
    </div>

    <div
        class="alert alert-warning"
        role="alert"
        *ngIf="
            this.usuarioService.usuario &&
            this.usuarioService.usuario.esEstudiante
        "
    >
        <b>Atención: </b> Estás en la aplicación como <b>ESTUDIANTE</b>. Sólo
        Profesores pueden presentar OFERTAS.
    </div>

    <div
        class="alert alert-warning"
        role="alert"
         
    >
        <b>Atención: </b> Estás en la aplicación como <b>PROFESOR</b>, pero esta
        oferta ha sido presentada por otro profesor.
    </div>

    <div
        class="alert alert-warning"
        role="alert"
        
    >
        <b>Atención: </b> Estás en la aplicación como <b>ENTIDAD</b>. Sólo
        Profesores pueden presentar OFERTAS.
    </div>

    <div
        *ngIf="!demanda"
        class="mb-0 alert alert-info text-center animate__animated animate__fadeIn animate__fast"
        role="alert"
    >
        <h4>Cargando demanda...</h4>
        <fa-icon [icon]="['fas', 'sync']" [spin]="true"></fa-icon>
        <p class="mb-">Por favor, espere</p>
    </div>

    <div class="row" *ngIf="demanda">
        <div class="col-9">
            <header
                class="card-header mb-2 border d-flex justify-content-between align-items-center"
            >
                <h6 class="title mb-0">
                    <b>Demanda: {{ demanda.titulo }}</b>
                </h6>
            </header>

            <div class="card my-2 p-3">
                <div class="d-flex justify-content-between">
                    <div><b>Descripción:</b> {{ demanda.descripcion }}</div>
                    <div><b>Cuatrimestre:</b> {{ demanda.cuatrimestre }}</div>
                    <div>
                        <b>Año académico:</b> {{ demanda.anio_academico }}
                    </div>
                    <div><b>Objetivo:</b> {{ demanda.objetivo }}</div>
                    <div>
                        <b>Comunidad beneficiaria:</b>
                        {{ demanda.comunidadBeneficiaria }}
                    </div>
                </div>
                <hr />

                <p>
                    <b>Fecha inicio demanda (definición):</b>
                    {{ demanda.periodoDefinicionIni | date: "dd-MM-yyyy" }}
                </p>
                <p>
                    <b>Fecha fin demanda (definición):</b>
                    {{ demanda.periodoDefinicionFin | date: "dd-MM-yyyy" }}
                </p>
                <p>
                    <b>Fecha inicio demanda (ejecución):</b>
                    {{ demanda.periodoEjecucionIni | date: "dd-MM-yyyy" }}
                </p>
                <p>
                    <b>Fecha límite (ejecución):</b>
                    {{ demanda.fecha_limite | date: "dd-MM-yyyy" }}
                </p>
                <p><b>¿Quién es el responsable de la demanda?:</b></p>
                <ul>
                    <li>
                        <b><i>Nombre y Apellidos: </i></b
                        >{{ demanda.creador.nombre }}
                        {{ oferta.creador.apellidos }}
                    </li>
                </ul>
                <p>
                    <b>Observaciones: </b
                    >{{ oferta.observaciones || "Sin observaciones" }}
                </p>
                <p class="mt-3"><b>Imagen de la oferta:</b></p>
                <img [src]="oferta.imagen" class="img-fluid" />
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
